apiVersion: apps/v1
kind: Deployment
metadata:
  name: marketing-deployment
  labels:
    app: marketing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: marketing
  template:
    metadata:
      labels:
        app: marketing
        istio-injection: enabled # Ensure Istio sidecar is injected
    spec:
      containers:
        - name: marketing
          image: ecommerce/marketing:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8085
              name: http
            - containerPort: 9095
              name: grpc
