apiVersion: v1
kind: Service
metadata:
  name: marketing-service
  labels:
    app: marketing
spec:
  ports:
    - name: http
      port: 8085
      targetPort: 8085
      protocol: TCP
    - name: grpc
      port: 9095
      targetPort: 9095
      protocol: TCP
  selector:
    app: marketing
