apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product
spec:
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
    - name: grpc
      port: 9091
      targetPort: 9091
      protocol: TCP
  selector:
    app: product
