{{- if .Values.rbac.create }}
# Role 定义
# Role 定义了在特定命名空间内，ServiceAccount 可以执行的操作集合。
# 遵循最小权限原则，只授予微服务运行所需的最低权限，以增强安全性。
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "chart.fullname" . }}-role # Role 的名称，通常与 Chart 的全名加上 -role 后缀
  labels:
    {{- include "chart.labels" . | nindent 4 }} # 继承 Chart 的标签
rules:
  # rules 定义了此 Role 授予的具体权限。
  # 每个规则包含 apiGroups, resources 和 verbs。
  # 示例规则：允许读取 Pod 和 ConfigMap 信息。
  # 在生产环境中，应根据微服务的实际需求配置最小权限。
  - apiGroups: ["", "apps", "extensions"] # 作用的 API 组，"" 表示核心 API 组
    resources: ["pods", "configmaps", "deployments"] # 作用的资源类型
    verbs: ["get", "list", "watch"] # 允许的操作动词
{{- end }}
