apiVersion: v1
kind: Service
metadata:
  name: recommendation-service
  labels:
    app: recommendation
spec:
  ports:
    - name: http
      port: 8095
      targetPort: 8095
      protocol: TCP
    - name: grpc
      port: 8015
      targetPort: 8015
      protocol: TCP
  selector:
    app: recommendation
