apiVersion: v1
kind: Service
metadata:
  name: admin-service
  labels:
    app: admin
spec:
  ports:
    - name: http
      port: 8084
      targetPort: 8084
      protocol: TCP
    - name: grpc
      port: 9094
      targetPort: 9094
      protocol: TCP
  selector:
    app: admin
