apiVersion: v1
kind: ConfigMap
metadata:
  name: { include "warehouse.fullname" . }-config
  labels:
    {- include "warehouse.labels" . | nindent 4 }
data:
  # Placeholder for config.toml content or other config
  config.toml: |
    [server]
    name = "{ .Values.image.repository }"
    environment = "prod"
