apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-deployment
  labels:
    app: search
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
        istio-injection: enabled # Ensure Istio sidecar is injected
    spec:
      containers:
        - name: search
          image: ecommerce/search:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8086
              name: http
            - containerPort: 9096
              name: grpc
