apiVersion: v1
kind: Service
metadata:
  name: search-service
  labels:
    app: search
spec:
  ports:
    - name: http
      port: 8086
      targetPort: 8086
      protocol: TCP
    - name: grpc
      port: 9096
      targetPort: 9096
      protocol: TCP
  selector:
    app: search
