apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  labels:
    app: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
        istio-injection: enabled # Ensure Istio sidecar is injected
    spec:
      containers:
        - name: order
          image: ecommerce/order:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8083
              name: http
            - containerPort: 9003
              name: grpc
