apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order
spec:
  ports:
    - name: http
      port: 8083
      targetPort: 8083
      protocol: TCP
    - name: grpc
      port: 9003
      targetPort: 9003
      protocol: TCP
  selector:
    app: order
