apiVersion: v1
kind: Service
metadata:
  name: cart-service
  labels:
    app: cart
spec:
  ports:
    - name: http
      port: 8082
      targetPort: 8082
      protocol: TCP
    - name: grpc
      port: 9002
      targetPort: 9002
      protocol: TCP
  selector:
    app: cart
