[server]
  [server.grpc]
    addr = "0.0.0.0"
    port = 8002
  [server.http]
    addr = "0.0.0.0"
    port = 8082

[log]
  level = "info"
  format = "console"
  output = "stdout"

[data]
  [data.clickhouse]
    dsn = "127.0.0.1:9000"
    dial_timeout = "5s"
    max_open_conns = 10
    max_idle_conns = 5
    conn_max_lifetime = "300s"
