{{- if .Values.rbac.create }}
# RoleBinding 定义
# RoleBinding 将一个 Role 中定义的权限授予给一个或多个主体（用户、组或 ServiceAccount）。
# 在这里，它将之前定义的 Role 绑定到微服务的 ServiceAccount，从而赋予 Pod 相应的权限。
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "chart.fullname" . }}-rolebinding # RoleBinding 的名称，通常与 Chart 的全名加上 -rolebinding 后缀
  labels:
    {{- include "chart.labels" . | nindent 4 }} # 继承 Chart 的标签
subjects:
  # subjects 定义了被授予权限的主体列表。
  - kind: ServiceAccount # 主体类型为 ServiceAccount
    name: {{ include "chart.serviceAccountName" . }} # ServiceAccount 的名称，使用辅助函数生成
    namespace: {{ .Release.Namespace }} # ServiceAccount 所在的命名空间
roleRef:
  # roleRef 引用了要绑定的 Role。
  kind: Role # 引用资源的类型为 Role
  name: {{ include "chart.fullname" . }}-role # 引用 Role 的名称，与之前定义的 Role 名称一致
  apiGroup: rbac.authorization.k8s.io # Role 所在的 API 组
{{- end }}
