apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: { include "payment.fullname" . }
  labels:
    {- include "payment.labels" . | nindent 4 }
spec:
  podSelector:
    matchLabels:
      {- include "payment.selectorLabels" . | nindent 6 }
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector: {}
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
